<!DOCTYPE html>

<html lang="en">

<head>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <title>Activate Your LMS Account!</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f9fa;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
    }
    header{
      padding: 20px 10px;
      background-color: #4848cc;
      color: white;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
      color: #666;
    }

    .code {
      font-size: 25px;
      font-weight: bold;
      padding: 10px 12px;
      background-color: #f5f5f5;
      border-radius: 5px;
      display: inline-block;
    }
  </style>
</head>

<body>
  <div class="container">
    <header>
      <h1>Welcome to the LMS, <%= user.name %>!</h1>
    </header>
    <p>Your LMS account has been created, but it's not quite ready for learning yet. To activate your account, please
      copy and paste the following activation code:</p>
    <p class="code">
      <%= activationCode %>
    </p>
    <p>This activation code will expire in 5 minutes, so please make sure to activate your account soon!</p>
    <p>If you have any trouble activating your account, please don't hesitate to contact us at <a
        href="mailto:nasikcl@gmail.com">nasikcl@gmail.com</a>.</p>
    <br>
    <p>We're excited to have you on board and can't wait to see you learning with us!</p>
    <br>
    <p>Sincerely,</p>
    <p>The LMS Team</p>
  </div>
</body>

</html>